.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 2rem 10vw;
  }
  
  .footer > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #356DE6;
  }
  
  .kubeIcon {
    width: 75px;
    height: 75px;
  }
  
  .logoSection > * {
      margin:  0 1rem;
  }
  
  .footerTitle {
    cursor: pointer;
  }
  
  .footerLinks > * {
      margin: 0 1rem;
  }
  