.SearchBarContainer {
    display: flex;
}

.SearchBarInput {
 border: 1px solid #356DE6;
 border-radius: 10px;
}

.SearchBarInput:focus {
    outline: none;
}

.SearchBarSearchIcon {
    width: 20px;
    height: 20px;
    position: relative;
    right: 60px;
    align-self: center;
    filter: invert(40%) sepia(26%) saturate(3065%) hue-rotate(198deg) brightness(91%) contrast(99%);

}